/* 화면 전체를 불투명한 창으로 덮기 */
.background_findId {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  
  /* 화면에서 숨기기 */
  z-index: -1;
  opacity: 0;
}

/* 화면에 보이기 */
.show_findId {
  opacity: 1;
  z-index: 1001;
  transition: all .5s;
}

.window_findId {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup_findID {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  
  /* 팝업창 크기 */
  width: 500px;
  height: 330px;
  
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show_findId .popup_findId {
  transform: translate(-50%, -50%);
  transition: all .5s;
}

/* ============================================== */

/* 이메일 입력창 */
#findId_email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 아이디찾기 버튼, 취소 버튼 */
.findId_btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

/* 팝업창 내부 컨테이너 */
.container_findId {
  padding: 16px;
}

#findId_email {
  margin-top: 20px;
  margin-bottom: 30px;
}

